# {{ ansible_managed }}

include /usr/local/share/nano/syntax/apacheconf.nanorc
include /usr/local/share/nano/syntax/asciidoc.nanorc
include /usr/local/share/nano/syntax/asm.nanorc
include /usr/local/share/nano/syntax/awk.nanorc
include /usr/local/share/nano/syntax/c.nanorc
include /usr/local/share/nano/syntax/cmake.nanorc
include /usr/local/share/nano/syntax/coffeescript.nanorc
include /usr/local/share/nano/syntax/colortest.nanorc
include /usr/local/share/nano/syntax/conf.nanorc
include /usr/local/share/nano/syntax/csharp.nanorc
include /usr/local/share/nano/syntax/css.nanorc
include /usr/local/share/nano/syntax/cython.nanorc
include /usr/local/share/nano/syntax/dot.nanorc
include /usr/local/share/nano/syntax/email.nanorc
include /usr/local/share/nano/syntax/fish.nanorc
include /usr/local/share/nano/syntax/fortran.nanorc
include /usr/local/share/nano/syntax/gentoo.nanorc
include /usr/local/share/nano/syntax/git.nanorc
include /usr/local/share/nano/syntax/gitcommit.nanorc
include /usr/local/share/nano/syntax/glsl.nanorc
include /usr/local/share/nano/syntax/go.nanorc
include /usr/local/share/nano/syntax/groff.nanorc
include /usr/local/share/nano/syntax/haml.nanorc
include /usr/local/share/nano/syntax/html.nanorc
include /usr/local/share/nano/syntax/ini.nanorc
include /usr/local/share/nano/syntax/inputrc.nanorc
include /usr/local/share/nano/syntax/java.nanorc
include /usr/local/share/nano/syntax/javascript.nanorc
include /usr/local/share/nano/syntax/js.nanorc
include /usr/local/share/nano/syntax/json.nanorc
include /usr/local/share/nano/syntax/keymap.nanorc
include /usr/local/share/nano/syntax/kickstart.nanorc
include /usr/local/share/nano/syntax/ledger.nanorc
include /usr/local/share/nano/syntax/lisp.nanorc
include /usr/local/share/nano/syntax/lua.nanorc
include /usr/local/share/nano/syntax/makefile.nanorc
include /usr/local/share/nano/syntax/man.nanorc
include /usr/local/share/nano/syntax/markdown.nanorc
include /usr/local/share/nano/syntax/mpdconf.nanorc
include /usr/local/share/nano/syntax/mutt.nanorc
include /usr/local/share/nano/syntax/nanorc.nanorc
include /usr/local/share/nano/syntax/nginx.nanorc
include /usr/local/share/nano/syntax/patch.nanorc
include /usr/local/share/nano/syntax/peg.nanorc
include /usr/local/share/nano/syntax/perl.nanorc
include /usr/local/share/nano/syntax/php.nanorc
include /usr/local/share/nano/syntax/pkg-config.nanorc
include /usr/local/share/nano/syntax/pkgbuild.nanorc
include /usr/local/share/nano/syntax/po.nanorc
include /usr/local/share/nano/syntax/pov.nanorc
include /usr/local/share/nano/syntax/privoxy.nanorc
include /usr/local/share/nano/syntax/python.nanorc
include /usr/local/share/nano/syntax/reST.nanorc
include /usr/local/share/nano/syntax/rpmspec.nanorc
include /usr/local/share/nano/syntax/ruby.nanorc
include /usr/local/share/nano/syntax/scala.nanorc
include /usr/local/share/nano/syntax/sed.nanorc
include /usr/local/share/nano/syntax/sh.nanorc
include /usr/local/share/nano/syntax/sls.nanorc
include /usr/local/share/nano/syntax/sql.nanorc
include /usr/local/share/nano/syntax/systemd.nanorc
include /usr/local/share/nano/syntax/tcl.nanorc
include /usr/local/share/nano/syntax/tex.nanorc
include /usr/local/share/nano/syntax/vala.nanorc
include /usr/local/share/nano/syntax/vi.nanorc
include /usr/local/share/nano/syntax/xml.nanorc
include /usr/local/share/nano/syntax/xresources.nanorc
include /usr/local/share/nano/syntax/yaml.nanorc
include /usr/local/share/nano/syntax/yum.nanorc
include /usr/local/share/nano/syntax/zsh.nanorc
